@model DishesSite.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <style>
        body {
            background-image: url("../img/back.jpg");
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .register-container {
            width: 400px;
            margin: 100px auto;
            background: linear-gradient(to bottom right, #EEE6A3, #C41E3A);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }

            .register-container h2 {
                text-align: center;
                margin-bottom: 20px;
                color: #EEE6A3;
            }

            .register-container label {
                display: block;
                margin-bottom: 5px;
                color: #EEE6A3;
            }

            .register-container input[type="text"],
            .register-container input[type="password"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .register-container button[type="submit"] {
                width: 100%;
                background-color: #293133;
                color: #EEE6A3;
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 15px;
            }

                .register-container button[type="submit"]:hover {
                    background-color: #555;
                }

        .validation-message {
            color: #EEE6A3;
            font-size: 12px;
        }

        .button-container {
            text-align: center;
        }

        .return-button {
            display: block;
            width: 200px;
            padding: 10px;
            background-color: #333;
            color: #EEE6A3;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
            margin: 20px auto; /* Центрируем кнопку по горизонтали и добавляем отступ сверху */
        }

            .return-button:hover {
                background-color: #555;
            }
    </style>
</head>
<body>
    <div class="register-container">
        <h2>Регистрация</h2>
        <form asp-action="Register" method="post">
            <div>
                <label asp-for="Login">Логин:</label>
                <input asp-for="Login" />
                <span class="validation-message" asp-validation-for="Login"></span>
            </div>
            <div>
                <label asp-for="Password">Пароль:</label>
                <input asp-for="Password" type="password" />
                <span class="validation-message" asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword">Повторите пароль:</label>
                <input asp-for="ConfirmPassword" type="password" />
                <span class="validation-message" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div>
                <label asp-for="RoleCode">Введите код роли:</label>
                <input asp-for="RoleCode" />
                <span class="validation-message" asp-validation-for="RoleCode"></span>
            </div>
            <div>
                <label asp-for="AccountCode">Введите код аккаунта:</label>
                <input asp-for="AccountCode" />
                <span class="validation-message" asp-validation-for="AccountCode"></span>
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <div class="button-container">
        <form method="get" action="/Home/Index">
            <button type="submit" class="return-button">Вернуться на главную страницу</button>
        </form>
    </div>
</body>
</html>
