@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/css/styles.css")">
</head>
<body>
    <div class="text-container">
        <p>Для перехода к другим разделам сайта необходимо авторизироваться или зарегистрироваться.</p>
        <p><a href="@Url.Action("Login", "Account")">Войти</a> или <a href="@Url.Action("Register", "Account")">Зарегистрироваться</a></p>

    </div>
</body>
</html>