@{
    ViewData["Title"] = "Домашняя страница";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/css/styles.css")">
</head>
<body>
    <div class="text-container">
        <p>Добро пожаловать на кулинарный сайт! Делитесь рецептами, оставляйте отзывы, комментируйте блюда.</p>
        <p><a href="@Url.Action("Login", "Account")">Войти</a></p>
        <p><a href="@Url.Action("Register", "Account")">Зарегистрироваться</a></p>

    </div>
</body>
</html>